.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #588157;
    height: 90px;
}
.titulo{
    font-size: 40px;
    padding: 8px;
    color: #fafafa;
}
.container_lista{
    display: none;
}
@media (min-width: 577px) {
    .titulo{
        color: white;
    }
    .container_lista{
        display: block;
    }
    .list{
        display: flex;
        list-style: none;
        
    }
}