.carrossel {
  width: 80vw;
  height: 250px;
  border-radius: 25px;
  margin: 6% auto;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.imagem {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
